html, body {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: #999;
}

.grid a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: #bababa;
}

.main {
    height: calc(100% - 30px);
    width: 100%;
    background-color: #bababa;
    padding-top: 30px;
}

.nav-container {
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #999;
    height: 50px;
}

.navigation {
    display: flex;
    grid-template-columns: auto auto auto;
    width: 300px;
    float: right;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-item {
    width:100px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 300px 600px;
    width: 900px;
}

.grid-item {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 5px 0px 5px 0px;
}

.viewer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    height: 800px;
    width: 600px;
}